.main-container, .done-container {
    text-align: center;
    
}
body {
    background-image: url("../images/disney_castle.png");
    background-position: center;
    background-size: cover;
  }
.app-title {
    font-size: 60px;
    color: blue;
}
section.questions {
    padding: 15px;
    margin: 15px 0;
    background-color: white;
}